# **PYTHON_BASICS_ASSIGNMENT**

#Q1. Explain the key features of Python that make it a popular choice for programming.
**Answer:** Python is popular because it is ideal for beginners and experts alike and lets you do a lot with simple, readable code and works well for a wide variety of tasks.
There are several key reasons that makes python a popular choice for programing:

**Easy to read & write:** Python has a clear and straight forward  syntax which means it is easy to read and understand even for the beginners, also it uses less code which means we can do a lot with fewest lines of code that can help writing and maintaining programs faster and simpler.

**Big library:** Python has a large set of inbuilt tools that help with many common tasks, like working with files, data manipulation or connecting to the internet. Which means we don't need to write everything from scratch.

**Dynamic typing:** we don’t have to tell Python what type of data we are using (integers, syntax, float, etc.). Python figures it out on its own, which makes coding faster and easier.

**Interpreted language:** Python is an interpreted language, which means it runs code line-by-line. This makes it easier to test small pieces of code and fix mistakes right away.

**Supports Different Programming Styles:** Python lets us use different programming approaches. We can write code in object-oriented means working with objects and classes or functional (using functions and expressions) styles, depending on what fits best for our task.

**Huge Community and Lots of Resources:** Python has a large, active community that creates and shares libraries (collections of reusable code) and helps each other out. There are also many tutorials, forums, and resources available online. Python also includes tools that help developers find and fix bugs in their code, making it easier to write reliable programs.

**Versatility:** Python is used for a variety of tasks like web development, data analysis and machine learning, automation, game development and many more.

#Q2. Describe the role of predefined keywords in Python and   provide examples of how they are used in a program.
**Answer:** In python the words that hold a special meaning which are used for a specific purpose and cannot be used as variable names, function names, or identifiers in your codes are simply said as predefined keywords.

Role of keywords is to serve as the building blocks of the language's syntax. Each keyword has a specific role that helps structure the flow of the program, manage data, handle errors, and organise code in a way that Python can execute correctly.

In [1]:
#example 1
name = "travis"
print(name)

travis

In [2]:
#example 2
age = 27
print(age)

27

#Q3. Compare and contrast mutable and immutable objects in Python with examples.
**Answer:** In Python, objects are classified into two categories “mutable and immutable objects” based on whether their values can be modified after creation or not.

**Mutable objects:** Mutable objects are those whose value can be modified after they are created. Which means we can change the contents of the object without creating a new one.
Common Mutable Types are Lists, Dictionaries, Sets.

In [5]:
#example_1
#list
list = [1, 2, 3, 4, 5]
list[2]= 'n'
list

[1, 2, 'n', 4, 5]

In [8]:
#example_2
#dictionary
dict = {"name" : "ashar", "age" : 27, "city" : "patna"}
dict["city"] = "delhi"
dict

{'name': 'ashar', 'age': 27, 'city': 'delhi'}

In [9]:
#example_3
#set
set = {"a", "b", "c"}
set.add("d")
set

{'a', 'b', 'c', 'd'}

**Immutable objects:** Immutable objects are those whose value cannot be changed after they are created. We cannot modify the value of an immutable object directly after it's created. Even if we try to change it, a new object will be created instead.

Common immutable objects: Tuples, Strings, Integers, Floats, Frozensets.

In [10]:
x = "data analytics" #string
x[3] = 'z' #it _will_show_an_error
x

TypeError: 'str' object does not support item assignment

#Q4. Discuss the different types of operators in Python and provide examples of how they are used.
**Answer:** Python operators are symbols that perform operations on variables and values. Python has a rich set of operators for different tasks like arithmetic, comparison, logical, assignment, membership, identity, and  bitwise operators.

**1. Arithmetic operators** are used to perform basic mathematical operations like
addition, subtraction, multiplication, etc.

In [16]:
#example of Python Arithmetic Operators
a = 5
b = 3
# Addition
print(a + b)

8

In [14]:
# Subtraction
print(a - b)

2

In [15]:

# Multiplication
print(a * b)

15

**2. Comparison operators** are used to compare two values. They return "True and False” based on whether the comparison is true or not.

In [18]:
#example
a = 5
b = 3


#(Equal to)
print(a == b)

False

In [19]:
#(Not equal to)
print(a != b)
# True

True

In [20]:
#(Greater than)
print(a > b)

True

In [21]:
#(Less than)
print(a < b)

False

In [22]:
#(Greater than or equal to)
print(a >= b)

True

In [23]:
#(Less than or equal to)
print(a <= b)

False

**3. Logical operators** are used to combine conditional statements. They allow you to make decisions based on multiple conditions by using the (and, or, not) operator.
     
 **And (Returns true if both statements are true)**

In [24]:
#example
x = 5
y = 10
if x > 3 and y < 15:
  print("Both x and y are within the specified range")

Both x and y are within the specified range

**Or (Returns True if one of the statements is true)**

In [25]:
#example
a = 5
b = 10
if a > 3 or b < 5:
    print("At least one condition is True")
else:
    print("Both conditions are False")

At least one condition is True

**Not (reverse the result, return false if the result is true)**

In [26]:
#example
raining = False
if not raining:
    print("It's not raining. You can go outside")
else:
    print("It is raining. Stay inside")

It's not raining. You can go outside

**4. Assignment operators are used to assign values to variables, They combine the assignment operation (=) with another operation.**

In [27]:
#example
x = 15
print(x)

15

**5. Membership operators are used to test if a sequence is presented in an object like a list, tuple, string, or dictionary.**

In [28]:
#example
name_list = ['ashar', 'kumar', 'singh', 'khan']
if 'khan' in name_list:
    print("khan is in the list.")
else:
    print("khan is not in the list.")

khan is in the list.

**6. Identity operators are used to compare the location of two objects or variables by using (is, is not).**

In [32]:
#example
#using is
a = [10, 20, 30]
z = a
if a is z:
    print("a and z refer to the same object.")
else:
  print("a and z refer to different object.")

a and z refer to the same object.

In [33]:
#using is not
a = [10, 20, 30]
z = a
if a is not z:
    print("a and z refer to the same object.")
else:
    print("a and z refer to different objects.")

a and z refer to different objects.

**7. Bitwise operators do operation at bit level by manipulating individual bits within integers. It is used to compare binary numbers by  using the main bitwise operators in Python which are: AND (&), OR (|), XOR (^), NOT (~), Left Shift (<<), Right Shift (>>).**

In [34]:
#Python Bitwise Operators
#Bitwise AND ( & )
a = 40 #binary of 40 = 101000
b = 11 #binary of 11 = 001011
result = a & b
print(result)

8

In [35]:
#Bitwise OR ( | )
a = 40 #binary of 40 = 101000
b = 11 #binary of 11 = 001011
result = a | b
print(result)

43

In [36]:
#Bitwise XOR (^)
a = 40 #binary of 40 = 101000
b = 11 #binary of 11 = 001011
result = a ^ b
print(result)

35

In [37]:
#Bitwise NOT (~)
a = 40 #binary of 40 = 101000
result = ~a
print(result)

-41

In [38]:
#Bitwise LEFT SHIFT (<<)
a = 40 #binary of 40 = 101000
result = a << 3
print(result)

320

In [39]:
#Bitwise RIGHT SHIFT (>>)
a = 40 #binary of 40 = 101000
result = a >> 3
print(result)

5

#Q5. Explain the concept of typecasting in Python with examples.

**Answer.** Type casting in Python refers to converting one data type to another.In Python we can perform type casting using built-in functions like int(), float(), str(), and bool(). Here we will see the various techniques used for typecasting.

There are mainly two types of Type Casting in Python:
1. **Implicit Type Casting** (also called automatic type conversion)
2. **Explicit Type Casting** (also called manual type conversion)

In **Implicit type casting**, the programming language automatically converts data from one type to another if needed. For example, if you have an integer variable and you try to assign it to a float variable, the programming language will automatically convert the integer to a float without you having to do anything.

In [40]:
#Example
a = 7  # Integer type
b = 4.5  # Float type
result = (a - b)
print(result)
print(type(result))

2.5
<class 'float'>

In **explicit type casting**, we manually convert a value from one type to another using Python's built-in functions. This is necessary when you want to convert data to a specific type for some operation, such as converting a float to an integer or string to an integer.

In [41]:
#example 1
# float to integer
a = 7.9 #float value
b = int(a) #changing value of ‘a’ to integer
print(b)
print(type(b))

7
<class 'int'>

In [43]:
#example 2
#string to integer
a = ("132") #string value
a = int(a)  #changing value of ‘a’ to integer
print(a)
print(type(a))

132
<class 'int'>

#Q6. How do conditional statements work in Python? Illustrate with examples.

**Answer.** Conditional statements in Python are used to execute certain blocks of code based on whether a condition is True or False.
There are several types of conditional statements in python:

1. If the simple code of block is to be performed if the condition holds then the **if statement** is used.

In [44]:
#example
weather = "winter"
if weather == "winter":
    print("christmas is coming")

christmas is coming


2. If statement provides an alternative code block to execute when the condition is False then the **If-else statement** is used.

In [45]:
#example
weather = "winter"
if weather == "autumn":
    print("christmas is coming")
else:
    print("no christmas")

no christmas

3. **If-elif-else statement** allows you to check multiple conditions sequentially. Once a condition is True, it will execute the corresponding block and skip the remaining conditions.

In [46]:
#example
age = 45
if age < 18:
    print("you are a minor and not eligible to vote")
elif 18 <age < 65:
    print("you are an adult and eligible to vote")
else:
    print("you are a senior citizen, Thank you for participating")

you are an adult and eligible to vote

4. **Nested if-else statement** means we can use an if-else statement inside another if statement. Or in simple words first, there is an outer if statement, and inside it another if – else statement is present.

In [47]:
#example
membership = True
total_purchase = 1200


if membership:
    if total_purchase > 800:
        print("You get a 20% discount.")
    elif total_purchase > 500:
        print("You get a 10% discount.")
    else:
        print("You get a 5% discount.")
else:
    if total_purchase > 800:
        print("You get a 10% discount.")
    else:
        print("No discount available.")

You get a 20% discount.

#Q7. Describe the different types of loops in Python and their use cases with examples.

**Answer:** The different types of loops in Python are For loop, while loop and nested loop.

1. The **For loop** in Python is used to iterate over a sequence (such as a list, tuple, dictionary, string, or range) and executes a block of code for each item in the sequence.

In [48]:
#Example
#Iterate through a list
Name_list = ['ashar', 'kumar','singh', 'kapoor']
for name in Name_list:
 print(name)
#Iterate through a range of number
for x in range(5):
    print(x)

ashar
kumar
singh
kapoor
0
1
2
3
4

The **while loop** in python repeatedly executes a block of code as long as the given condition is true. It’s especially useful when you don’t know how many times you need to loop, but you know the condition that will stop the loop.

In [49]:
#Example
count = 5
while count < 10:
    print(count)
    count += 1  # Increment the count by 1 each time

5
6
7
8
9

A **nested loop** is a loop inside another loop. In Python, you can have a for loop or while loop inside another for or while loop. Nested loops are often used to process multidimensional data structures (like matrices) or when you need to perform a series of operations in a series of iterations.

In [50]:
#Example
x = ["pwskills", "python"]
num = [1,2]
for i in x:
    for j in num:
        print(i,j)

pwskills 1
pwskills 2
python 1
python 2